<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.springframework.org/schema/util" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>股票信息</title>
    <link rel="stylesheet" th:href="@{/static/css/umi.css}" />
    <script>
      window.routerBase = "/";
    </script>
    <script>
      //! umi version: 3.2.24
    </script>
  </head>
  <body>
    <div id="root"></div>

    <script th:src="@{/static/js/umi.js}"></script>
  </body>
</html>
